@use 'variables' as *;
@use 'mixin' as *;

// FOOTER
.footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $baseColor2;
    padding-top: 120px;
    padding-bottom: 32px;

    @include mq(sp){
        padding-top: 96px;
    }

    &__nav{
        margin-bottom: 24px;
        @include mq(sp){
            margin-bottom: 48px;
        }
    }

    &__policy{
        margin-bottom: 80px;
        @include mq(sp){
            margin-bottom: 48px;
        }
    }

    &__logo{
        width: 166px;
        margin-bottom: 120px;

        @include mq(sp){
            width: 120px;
            margin-bottom: 96px;
        }
    }

    &__copyright{
        color: $mainColor1;
    }
}